<custom-header></custom-header>
<div id="dashboard">

  <!-- LOGO -->
  <div class="logo-container" id="logo-container">
    <img class="logo-top" src="{{logoBg}}">
  </div>

  <!-- SPINNER ACTIVE UNTIL ALL LOADING IS COMPLETE/ -->
  <div *ngIf="!productsHaveBeenRetrieved || weeklyOffers.length == 0 || suggestedProducts.length == 0" class="spinner-placeholder">
    <ion-spinner name="lines"></ion-spinner>
  </div>

  <!-- LIST OF PRODUCT CATEGORIES -->
  <div *ngIf="productsHaveBeenRetrieved && weeklyOffers.length > 0 && suggestedProducts.length > 0">
    <category-list></category-list>

    <!-- PRODUCT CARDS FOR WEEK OFFERS, SUGGESTED PRODUCTS AND/OR OTHER LISTS -->
    <div class="card-container">
      <p class="cards-title">{{weeklyOffersTitle}}</p>
      <div class="horizontal-scroll">
        <product-card *ngFor="let prod of weeklyOffers; let i = index" [small]="false" [product]="prod" [dayIndex]="i">
        </product-card>
      </div>
    </div>

    <div class="card-container">
      <p class="cards-title">{{suggestedProductsTitle}}</p>
      <div class="horizontal-scroll">
        <product-card *ngFor="let prod of suggestedProducts" [small]="false" [product]="prod">
        </product-card>
      </div>
    </div>
  </div>
</div>

<!-- FIREBASE STUFF -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCI-SIhxGVXcKIWi_HRqGnvFcqoubQIEro",
    authDomain: "santaios-c95ac.firebaseapp.com",
    projectId: "santaios-c95ac",
    storageBucket: "santaios-c95ac.appspot.com",
    messagingSenderId: "529703409514",
    appId: "1:529703409514:web:126d41ffcb4b9be1297713",
    measurementId: "G-TTFS844XRN"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>