
#category-button {
    text-align: center;
    display: inline-block;
    width: 28vw;
    .icon {
        width: 26vw;
    }
    // card has active styling on click
    .icon:active {
        transform: scale(1.1);
        transition: .1s;
    }


    .name {
        margin-top: 0;
        font-size: 3vw;
        font-weight: 400;
        color: #36454f;
    }
}